.holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ball {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    background-color: blue;
    border-radius: 50%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
}
.yellow {
    background-color: yellow;

}

.green {
    background-color: green;
}